<h1>Welcome to RetFlix!</h1>

<p></p>

<%= form_tag 'search', method: :get do %>
    <strong><%= label_tag 'q', "Search Movies" %></strong>
    <%= text_field_tag 'q' %>
    <%= submit_tag "Get Flix!" %>
<% end %>

<%= link_to "Add a movie to our collection", new_movie_path %>

<p><i>See our collection of movies below.</i></p>

<%= render 'layouts/listing' %>




