<h1>Welcome to RetFlix!</h1>

<p></p>

<%= form_tag 'search', method: :get do %>
    <strong><%= label_tag 'q', "Search Movies" %></strong>
    <%= text_field_tag 'q' %>
    <%= submit_tag "Get Flix!" %>
<% end %>

<%= link_to "Add a movie to our collection", new_movie_path %>

<p><i>See our collection of movies below.</i></p>

<table cellpadding=4px >
  <tr>
    <th bgcolor="#99aaff"><i>Title</i></th>
    <th bgcolor="#aaccff"><i>Description</i></th>
    <th bgcolor="#99aacc"><i>Rating </i></th>
  </tr>

<% @movies.each do |movie| %>
    <tr>
    <td>
    <strong><%= link_to movie.title, movie %></strong>
    </td>
    <td><%= movie.description %> </td>
    <td><%= movie.rating %> </td>
    </tr>

<% end %>

</table>



