<h1>Movie Search Results</h1>
<p>Movies which match your search terms</p>

<table cellpadding=4px >
  <tr>
    <th bgcolor="#99aaff"><i>Title</i></th>
    <th bgcolor="#aaccff"><i>Description</i></th>
    <th bgcolor="#99aacc"><i>Rating </i></th>
  </tr>

<% @movies.each do |movie| %>
    <tr>
    <td><strong><%= movie.title %></strong>
    <%= link_to "Show", movie %></td>
    <td><%= movie.description %> </td>
    <td><%= movie.rating %> </td>
    </tr>

<% end %>

</table>
<p>
<%= link_to "Movies Home", root_path %>
</p>